In [3]:
import quandl
import pandas as pd
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup as bs
import pickle
from datetime import datetime, timedelta, date
%matplotlib notebook

# Quandl
https://www.quandl.com/tools/python

In [11]:
# 1) Quandl
# https://www.quandl.com/data/BCRA/MVAR_TIPCAMBREF-Reference-Exchange-Rate-AR-against-US
tickers = ['BCRA/MVAR_TIPCAMBREF']
df_exchange = quandl.get(tickers, start_date="2014-1-01")

In [12]:
df_exchange.head(5)

            BCRA/MVAR_TIPCAMBREF - Amount
Date
2014-01-02                         6.5430
2014-01-03                         6.5580
2014-01-06                         6.5857
2014-01-07                         6.5988
2014-01-08                         6.6042

In [13]:
# 2) Quandl
# https://www.quandl.com/search?filters=%5B%22Free%22%5D&query=cme%20cl
# https://www.quandl.com/data/CME/CLM2017-Crude-Oil-Futures-June-2017-CLM2017
tickers = ['CME/CLM2017']
df_CLM7 = quandl.get(tickers, start_date="2014-1-01")

In [14]:
df_CLM7

,CME/CLM2017 - Open,CME/CLM2017 - High,CME/CLM2017 - Low,CME/CLM2017 - Last,CME/CLM2017 - Change,CME/CLM2017 - Settle,CME/CLM2017 - Volume,CME/CLM2017 - Previous Day Open Interest
Date,,,,,,,,
2014-01-02,0.00,0.00,0.00,NaN,NaN,79.76,1000.0,4809.0
2014-01-03,0.00,0.00,0.00,NaN,NaN,79.38,100.0,4809.0
2014-01-06,0.00,0.00,0.00,NaN,NaN,79.52,100.0,4809.0
2014-01-07,0.00,0.00,0.00,NaN,NaN,78.45,100.0,4809.0
2014-01-08,0.00,0.00,0.00,NaN,NaN,77.82,101.0,4809.0
2014-01-09,0.00,0.00,0.00,NaN,NaN,77.95,101.0,4809.0
2014-01-10,0.00,0.00,77.73,NaN,NaN,77.96,101.0,4809.0
2014-01-13,0.00,0.00,77.70,NaN,NaN,77.78,101.0,4809.0
2014-01-14,78.05,78.05,78.05,NaN,NaN,78.46,115.0,4809.0
2014-01-15,0.00,0.00,0.00,NaN,NaN,78.84,101.0,4809.0
2014-01-16,0.00,0.00,0.00,NaN,NaN,78.02,115.0,4809.0
2014-01-17,0.00,0.00,0.00,NaN,NaN,78.19,101.0,4809.0
2014-01-21,0.00,0.00,0.00,NaN,NaN,78.15,101.0,4809.0
2014-01-22,0.00,0.00,0.00,NaN,NaN,78.34,100.0,4809.0
2014-01-23,0.00,0.00,0.00,NaN,NaN,78.06,100.0,4809.0
2014-01-24,0.00,0.00,0.00,NaN,NaN,78.53,100.0,4809.0
2014-01-27,0.00,0.00,0.00,NaN,NaN,78.30,240.0,4569.0
2014-01-28,0.00,0.00,0.00,NaN,NaN,78.68,100.0,4569.0
2014-01-29,0.00,0.00,0.00,NaN,NaN,78.42,240.0,4569.0
2014-01-30,0.00,0.00,0.00,NaN,NaN,78.46,100.0,4569.0
2014-01-31,0.00,0.00,0.00,NaN,NaN,77.91,240.0,4569.0
2014-02-03,0.00,0.00,0.00,NaN,NaN,78.25,240.0,4569.0
2014-02-04,0.00,0.00,0.00,NaN,NaN,78.95,240.0,4569.0
2014-02-05,0.00,0.00,0.00,NaN,NaN,79.99,240.0,4569.0
2014-02-06,0.00,0.00,0.00,NaN,NaN,80.21,240.0,4569.0
2014-02-07,0.00,0.00,0.00,NaN,NaN,80.68,240.0,4569.0
2014-02-10,0.00,0.00,0.00,NaN,NaN,80.42,240.0,4569.0
2014-02-11,0.00,0.00,0.00,NaN,NaN,80.98,240.0,4569.0
2014-02-12,0.00,0.00,0.00,NaN,NaN,81.19,240.0,4569.0
2014-02-13,0.00,0.00,0.00,NaN,NaN,81.32,240.0,0.0
...,...,...,...,...,...,...,...,...
2017-04-10,52.68,53.57,52.67,53.53,0.84,53.48,245356.0,390672.0
2017-04-11,53.60,53.84,53.10,53.80,0.31,53.79,256425.0,428508.0
2017-04-12,53.79,54.14,53.14,53.23,0.27,53.52,303876.0,468817.0
2017-04-13,53.35,53.80,53.24,53.34,0.08,53.60,258889.0,517502.0
2017-04-17,53.34,53.63,53.02,53.21,0.49,53.11,225094.0,547542.0
2017-04-18,53.19,53.30,52.54,52.76,0.26,52.85,463108.0,565300.0
2017-04-19,52.75,53.08,50.51,51.00,2.00,50.85,823687.0,584650.0
2017-04-20,51.03,51.38,50.50,50.73,0.14,50.71,598309.0,610285.0
2017-04-21,50.71,50.93,49.20,49.63,1.09,49.62,679261.0,620206.0
2017-04-24,49.68,50.22,49.03,49.21,0.39,49.23,513223.0,620044.0
2017-04-25,49.22,49.83,48.87,49.36,0.33,49.56,580009.0,621205.0
2017-04-26,49.36,50.20,48.94,49.21,0.06,49.62,649415.0,607386.0
2017-04-27,49.22,49.43,48.20,49.24,0.65,48.97,763445.0,602246.0
2017-04-28,49.27,49.76,48.80,49.19,0.36,49.33,629561.0,591781.0
2017-05-01,49.17,49.32,48.59,48.74,0.49,48.84,362291.0,572455.0
2017-05-02,48.78,49.28,47.35,48.08,1.18,47.66,695220.0,565908.0
2017-05-03,48.12,48.23,47.30,47.55,0.16,47.82,681299.0,573547.0
2017-05-04,47.60,47.75,45.29,45.49,2.30,45.52,926684.0,571277.0
2017-05-05,45.51,46.68,43.76,46.47,0.70,46.22,1015030.0,577422.0
2017-05-08,46.35,46.98,45.73,46.50,0.21,46.43,755659.0,541514.0
2017-05-09,46.49,46.78,45.53,46.20,0.55,45.88,675685.0,491012.0
2017-05-10,46.18,47.78,46.01,47.34,1.45,47.33,789190.0,447630.0
2017-05-11,47.39,48.22,47.34,47.82,0.50,47.83,629036.0,389964.0
2017-05-12,47.81,48.07,47.35,47.82,0.01,47.84,527587.0,338671.0
2017-05-15,47.85,49.66,47.75,48.82,1.01,48.85,665331.0,320540.0
2017-05-16,48.82,49.38,48.17,48.23,0.19,48.66,559636.0,273731.0
2017-05-17,48.23,49.50,48.03,48.96,0.41,49.07,633000.0,234981.0
2017-05-18,48.93,49.60,48.05,49.34,0.28,49.35,233027.0,113829.0
2017-05-19,49.28,50.53,49.28,50.53,0.98,50.33,139324.0,74015.0
2017-05-22,50.60,51.06,50.42,50.81,0.40,50.73,21476.0,22887.0

In [ ]:
# 3) Quandl use API KEY

# To get the API KEY: go to quandl.com, log in, and then go to https://www.quandl.com/account/api .
tickers = ['CME/CLG2017']
quandl.ApiConfig.api_key = *********
df_CLM7 = quandl.get(tickers, start_date="2014-1-01")

# Yahoo Finance
example:
https://finance.yahoo.com/quote/aapl/history/

We can scrape Yahoo Finance

In [4]:
def get_historical_data(name, starting_date):
    today = datetime(datetime.today().year, datetime.today().month, datetime.today().day)
    data = []
    first_date = starting_date
    second_date = min(starting_date + timedelta(days=99), today)
    while(first_date<second_date):
        p1 = str(int(first_date.timestamp()))
        p2 = str(int(second_date.timestamp()))
        url = "https://finance.yahoo.com/quote/" + name + "/history?period1="+ p1 + "&period2="+ p2 +\
        "&interval=1d&filter=history&frequency=1d"
        rows = bs(urllib.request.urlopen(url).read(), "lxml").findAll('table')[0].tbody.findAll('tr')

        for each_row in reversed(rows):
            divs = each_row.findAll('td')
            if divs[1].span.text != 'Dividend' or divs[1].span.text  != 'Dividend': #Ignore this row in the table
                #I'm only interested in 'Open' price; For other values, play with divs[1 - 5]
                try:
                    data.append({
                        'Date': divs[0].span.text, 'Open': float(divs[1].span.text.replace(',','')),
                        'High': float(divs[2].span.text.replace(',','')),
                        'Low': float(divs[3].span.text.replace(',','')),
                        'Close': float(divs[4].span.text.replace(',','')),
                        'Adj Close': float(divs[5].span.text.replace(',','')),
                        'Volume': float(divs[6].span.text.replace(',',''))
                    })
                except:
                    print(divs)
                    pass
        first_date = min(first_date + timedelta(days=99), today)
        second_date = min(second_date + timedelta(days=99), today)

    return pd.DataFrame(data=data).set_index('Date')

In [5]:
df_AAPL = get_historical_data('AAPL', datetime(2010, 11, 21))

[<td class="Py(10px) Ta(start) Pend(10px)" data-reactid="1002"><span data-reactid="1003">Jun 09, 2014</span></td>, <td class="Ta(c) Py(10px) Pstart(10px)" colspan="6" data-reactid="1004"><strong data-reactid="1005">7/1</strong><!-- react-text: 1006 --> <!-- /react-text --><span data-reactid="1007">Stock Split</span></td>]

In [6]:
df_AAPL

              Adj Close   Close    High     Low    Open       Volume
Date
Nov 22, 2010      30.19   44.77   44.77   43.70   43.81   98268800.0
Nov 23, 2010      29.74   44.10   44.54   43.79   44.35  129861900.0
Nov 24, 2010      30.33   44.97   45.06   44.54   44.57  103431300.0
Nov 26, 2010      30.35   45.00   45.39   44.71   44.82   59396400.0
Nov 29, 2010      30.53   45.27   45.35   44.48   45.07  111446300.0
Nov 30, 2010      29.98   44.45   44.91   44.41   44.79  125464500.0
Dec 01, 2010      30.48   45.20   45.39   45.00   45.04  115437700.0
Dec 02, 2010      30.65   45.45   45.57   44.98   45.36  115709300.0
Dec 03, 2010      30.58   45.35   45.52   45.19   45.29   85523200.0
Dec 06, 2010      30.84   45.74   46.05   45.49   45.52  112120400.0
Dec 07, 2010      30.66   45.46   46.28   45.45   46.26   97863500.0
Dec 08, 2010      30.93   45.86   45.86   45.30   45.66   80483900.0
Dec 09, 2010      30.80   45.68   46.07   45.57   46.02   73537800.0
Dec 10, 2010      30.88   45.79   45.86   45.51   45.66   65627800.0
Dec 13, 2010      30.99   45.95   46.44   45.86   46.34  109953900.0
Dec 14, 2010      30.86   45.76   46.08   45.57   45.96   87752000.0
Dec 15, 2010      30.86   45.77   46.14   45.60   45.71  104328000.0
Dec 16, 2010      30.95   45.89   46.09   45.73   45.87   80507700.0
Dec 17, 2010      30.89   45.80   45.97   45.75   45.95   96732300.0
Dec 20, 2010      31.04   46.03   46.18   45.46   45.94   96402600.0
Dec 21, 2010      31.23   46.31   46.34   46.01   46.14   64088500.0
Dec 22, 2010      31.32   46.45   46.53   46.22   46.34   66480400.0
Dec 23, 2010      31.17   46.23   46.45   46.17   46.43   55789300.0
Dec 27, 2010      31.28   46.38   46.49   45.93   46.12   62454000.0
Dec 28, 2010      31.35   46.50   46.67   46.44   46.56   43981000.0
Dec 29, 2010      31.34   46.47   46.64   46.44   46.60   40784800.0
Dec 30, 2010      31.18   46.24   46.50   46.15   46.50   39373600.0
Dec 31, 2010      31.07   46.08   46.21   45.90   46.14   48377000.0
Jan 03, 2011      31.75   47.08   47.18   46.41   46.52  111284600.0
Jan 04, 2011      31.92   47.33   47.50   46.88   47.49   77270200.0
...                 ...     ...     ...     ...     ...          ...
Jun 18, 2018     188.74  188.74  189.22  187.20  187.88   18484900.0
Jun 19, 2018     185.69  185.69  186.33  183.45  185.14   33578500.0
Jun 20, 2018     186.50  186.50  187.20  185.73  186.35   20628700.0
Jun 21, 2018     185.46  185.46  188.35  184.94  187.25   25711900.0
Jun 22, 2018     184.92  184.92  186.15  184.70  186.12   27200400.0
Jun 25, 2018     182.17  182.17  184.92  180.73  183.40   31663100.0
Jun 26, 2018     184.43  184.43  186.53  182.54  182.99   24569200.0
Jun 27, 2018     184.16  184.16  187.28  184.03  185.23   25285300.0
Jun 28, 2018     185.50  185.50  186.21  183.80  184.10   17365200.0
Jun 29, 2018     185.11  185.11  187.19  182.91  186.29   22737700.0
Jul 02, 2018     187.18  187.18  187.30  183.42  183.82   17731300.0
Jul 03, 2018     183.92  183.92  187.95  183.54  187.79   13954800.0
Jul 05, 2018     185.40  185.40  186.41  184.28  185.26   16604200.0
Jul 06, 2018     187.97  187.97  188.43  185.20  185.42   17485200.0
Jul 09, 2018     190.58  190.58  190.68  189.30  189.50   19756600.0
Jul 10, 2018     190.35  190.35  191.28  190.18  190.71   15939100.0
Jul 11, 2018     187.88  187.88  189.78  187.61  188.50   18831500.0
Jul 12, 2018     191.03  191.03  191.41  189.31  189.53   18041100.0
Jul 13, 2018     191.33  191.33  191.84  190.90  191.08   12513900.0
Jul 16, 2018     190.91  190.91  192.65  190.42  191.52   15043100.0
Jul 17, 2018     191.45  191.45  191.87  189.20  189.75   15534500.0
Jul 18, 2018     190.40  190.40  191.80  189.93  191.78   16393400.0
Jul 19, 2018     191.88  191.88  192.55  189.69  189.69   20286800.0
Jul 20, 2018     191.44  191.44  192.43  190.17  191.78   20676200.0
Jul 23, 2018     191.61  191.61  191.96  189.56  190.68   15989400.0
Jul 24, 2018     193.00  193.00  193.66  192.05  192.45   18697900.0
Jul 25, 2018     194.82  194.82  194.85  192.43  193.06   16709900.0
Jul 26, 2018     194.21  194.21  195.96  193.61  194.61   19076000.0
Jul 27, 2018     190.98  190.98  195.19  190.10  194.99   24024000.0
Jul 30, 2018     189.91  189.91  192.20  189.07  191.90   20996100.0

[1934 rows x 6 columns]